<% provide(:title, "Sign Up") %>
<div class="container userform">
    <%= form_for(user,  url: signup_path) do |f| %>
    <%=render 'partials/error_messages'%>

    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control'%>
    </div>

    <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control'%>
    </div>

    <div class="field">
        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control' %>
    </div>

    <div class="field">
        <%= f.label :cc_number, 'Credit Card Number'%>
        <%= f.text_field :cc_number, class: 'form-control' %>
    </div>

    <div class="actions">
        <%= f.submit nil, class: 'btn btn-primary submit_btn' %>
    </div>
    <% end %>
</div>
