<% provide(:title, "Products") %>

<nav class="navbar navbar-default categoryList">
  <div class="container-fluid">
     <ul class="nav navbar-nav">
       <%@product_cat.unshift("All")
       @product_cat.each{|cat|%>
         <li><%= link_to cat, products_path(category: cat)%></li>
       <%}%>
     </ul>
  </div>
</nav>

<div class="container product_section">
    <%@products.each {|product|%>
        <%=link_to product_path(product.id), class: "product_disp" do%>
            <div class="product_info">
              <img src="<%=product[:image_url]%>"/>
              <h4><%=product[:name]%></h4>
              <h5>$<%='%.2f' % product[:price]%></h5>
              <h5><%=product[:category]%></h5>
            </div>
        <%end%>
      <%}%>
</div>
