<% provide(:title, "Product") %>
<div class="container">
  <div class="jumbotron">
    <img class="product_img" src="<%=@product[:image_url]%>"/>
  <div class="pdt_container">
      <p><strong>Name: <%= @product.name %></strong></p>
      <p><strong>Category: <%= @product.category %></strong></p>
      <p><strong>Brand: <%= @product.brand %></strong></p>
      <p><strong>Price: $<%='%.2f' % @product[:price]%></strong></p>
      <%if logged_in?%>
        <%=link_to "Add Review", new_review_path(product_id: @product.id), class:'btn btn-primary'%>  
      <%end%>
    </div>
  </div>
  <div class="col-md-8">
    <% if @pdt_reviews.any? %>
      <h3>Reviews (<%= @pdt_reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @pdt_reviews %>
      </ol>
      <% end %>
  </div>
</div>
