<li id="review-<%=review.id%>">
  <%=link_to gravatar_for(review.user, 50)%>
  <span class="user"><%= review.user.name%></span>
  <span class="product">reviewed: <%= link_to review.product.name, product_path(review.product_id)%></span>
  <span class="rating">Rating: <%= review.rating%>/5</span>
  <span class="content"><%= review.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
  </span>
  <%if logged_in?
      if review.user.name == current_user.name%>
      <%=link_to "Edit review", edit_review_path(review)%> |
      <%=link_to "Delete review", edit_review_path(review)%> 
    <%end%>
  <%end%>
</li>
